*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box; 
    overflow: hidden;
}


.container{
    background: url(/Images/mario-bg.jpg);
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
 
}
.container h1{
  padding: 20px;
  font-weight: 900;
  font-variant: small-caps;
}

.container span{
 padding: 20px;
 font-size: 20px;
 font-weight: bolder;

}
.content{
position: relative;
 width: 700px;
 height: 700px;
 background-image: url(/Images/soil.png);
 border-radius: 20px;
 margin-left: -150px;
 border: 5px solid white;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
justify-content: center;
 align-items: center;


}
.content div{
 background-image: url(/Images/pipe.png);
 width: 100px;
 flex-basis: 200px;
 height: 100px;
 padding: 5px;
height: 200px;
 background-size: cover;
}
.container .content img{
    width: 100px;
    height: 100px;
}
.container .popUp{
  
    left: 50%;
    transform: translate(-50%,-50%);
    top: 1000px;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(250 205 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    border: 4px solid white;
    transition: top 2s;
    z-index: 4;
}

.container .popUp h2{
    color: white;
    padding: 10px;
    font-size: 50px;
}
.container .popUp button{
    padding: 10px;
    background-color: rgb(43, 201, 43);
    font-size: 20px;
    border-radius: 14px;
    font-weight: 900;
    margin-top: 20px;
}
.container .popUp p{
    font-weight:900px;
}
.startup{
    width: 200px;
    height: 200px;
    border: 4px solid black;
    background-color: rgb(250 205 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 500px;
    text-align: center;
    top: 100px;
    border-radius: 30px;
    z-index: 3;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

} 
.startup button {
    padding: 10px;
    background-color: rgb(43, 201, 43);
    font-size: 20px;
    border-radius: 14px;
    font-weight: 900;
    margin-top: 20px;
}